# Set theme
remote_theme: daviddarnes/alembic

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jemoji
- jekyll-remote-theme

# Site settings
url: 'https://ublrandd.com.np/'
baseurl: ''
title: 'UBL R&D Center'
description: 'Official Website of UBL R&D Center'
permalink: pretty
logo: "https://i.ibb.co/MnFkf9M/UBL-R-D-Nepal-high-quality.png"

# Pagination
paginate: 5
paginate_path: blog/page:num

 Header nav
navigation_header:
- title: Home
  url: /
#- title: About
#  url: /about/
#- title: Blog
#  url: /blog/

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: " Official Website of UBL R&D Center"
    feature_text: |
      Official Website of UBL R&D Center
    feature_image: "https://i.ibb.co/MnFkf9M/UBL-R-D-Nepal-high-quality.png"
